<!DOCTYPE html>
<html>
    <head>
        <title>Bienvenue sur ma pemière page avec OpenClassrooms !</title>
    </head>
    <body>
        <h1>Hello World {{ id }} !</h1>
        <p>
            URL absolue depuis un template twig
            
            <a href="{{ path('oc_platform_view', { 'id': advert_id }) }}">Lien vers l'annonce {{ advert_id }}</a>
            
            <!-- { 'id': id } fonctionne ??? -->
        </p>
    </body>
</html>