<!DOCTYPE html>
<html>
    <head>
        <title>Bienvenue sur ma pemière page avec OpenClassrooms !</title>
    </head>
    <body>
        <h1>ID_USER = {{ userId }}</h1>
        <p>
            Je suis une page de test, je n'ai rien à dire
        </p>
    </body>
</html>