<!DOCTYPE html>
<html>
    <head>
        <title>Bienvenue sur ma pemière page avec OpenClassrooms !</title>
    </head>
    <body>
        <div>
            
                <p>Message flash : {{ erreur }}</p>
            
        </div>
        
        <p>Responsable du site : {{ webmaster }}.</p>
    </body>
</html>


