<!DOCTYPE html>
<html>
    <head>
        <title>Bienvenue sur ma pemière page avec OpenClassrooms !</title>
    </head>
    <body>
        <div>
            {# On affiche tous les messages flash dont le nom est « info » #}
            {% for message in app.session.flashbag.get('info') %}
                <p>Message flash : {{ message }}</p>
            {% endfor %}
        </div>
        <p>
            Affichage de l'annonce d'id : {{ id }}, avec le tag : {{ tag }}
        </p>
        <p>Responsable du site : {{ webmaster }}.</p>
    </body>
</html>


