{# OC/HomepageBundle/Resources/views/Default/index.html.twig #}

  {% if listAdverts is defined %}
  <ul class="nav nav-pills nav-stacked">
    {% for advert in listAdverts %}
        <li>
            <a href="{{ path('oc_platform_view', {'id': advert.id}) }}">
            {{ advert.title }}
            </a>
        </li>
    {% endfor %}
  </ul>
  {% endif %}
